@model ZavrsenProekt.Models.Turist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Turist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prezime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DatumPrijava)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DatumPrijava)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poseti)
        </dt>
        <dd class="col-sm-10">
            @foreach (var poseta in Model.Poseti)
            {
                <a asp-controller="Posetas" asp-action="Details" asp-route-id="@poseta.Id">@poseta.Poseta.Ime</a><br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
