@model ZavrsenProekt.ViewModels.TuristFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Turists" asp-action="Index" method="get">
    <p>
        Ime: <input type="text" asp-for="Ime" />
        Prezime: <input type="text" asp-for="Prezime" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Turist[0].PassportId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist[0].Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist[0].Prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist[0].DatumPrijava)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turist[0].Poseti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Turist) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PassportId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumPrijava)
            </td>
            <td>
                @foreach (var poseta in item.Poseti)
                {
                    <a asp-controller="Posetas" asp-action="Details" asp-route-id="@poseta.Id">@poseta.Poseta.Ime</a> <br />
                    
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-controller="VkluciSes" asp-action="StatusPoPoseta" asp-route-id="@item.Id">See Poseti</a> |
                <a asp-action="UploadPic" asp-route-id="@item.Id">Upload My Pic</a>
            </td>
        </tr>
}
    </tbody>
</table>
