@model ZavrsenProekt.Models.VkluciSe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VkluciSe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poseta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poseta.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TouristId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TouristId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PosetaUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PosetaUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZnamenitostUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZnamenitostUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BrojKartica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BrojKartica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CVC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidnostData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidnostData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
